/* pop-up messages */
* {
    margin: 0;
}

.toast {
    background: #ff55a5;
    color: white;
    text-align: center;
    border-radius: 6px;
    animation: fade 1s 2s forwards;
}

@keyframes fade {

  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }

}
/* end pop-up messages */


/* comments pagination */
.tabs-pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.tabs-pagination li {
  display: inline;
  text-align: center;
}
.tabs-pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 2px solid transparent;
  line-height: 1.5;
}
.tabs-pagination a.active {
  cursor: default;
}
.tabs-pagination a:active {
  outline: none;
}

.modal-2 li:first-child a {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
}
.modal-2 li:last-child a {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
}
.modal-2 a {
  border-color: black;
  color: #999;
  background: #2b2b31;
}
.modal-2 a:hover {
  color: #E34E48;
  background-color: #eee;
}
.modal-2 a.active, .modal-2 a:active {
  border-color: #ff55a5s;
  background: #ff55a5;
  color: #fff;
}


.pagination-dots a:hover {
    cursor: default;
    background: #2b2b31;
    color: #999;
}
/* end comments pagination */

.edit-window {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант  */
  background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
}

/* Модальное содержание */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: inherit;
}

/* Кнопка закрытия */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.edit-form {
    background: #2b2b31;
}


.edit-form__text {
    background-color: #28282d;
    height: 250px;
    position: relative;

}