{% extends 'movie_catalog/base.html' %}
{% load static movie_filters %}

{% block content %}
	<!-- top movies -->
	{% include 'movie_catalog/includes/top_movies.html' %}
	<!-- end top movies -->

	<!-- new movies -->
	{% include 'movie_catalog/includes/new_movies.html' %}
	<!-- end new movies -->

	<!-- expected premiere -->
	{% include 'movie_catalog/includes/expected_movies.html' %}
	<!-- end expected premiere -->

	<!-- out_partners -->
	{% include 'movie_catalog/includes/our_partners.html' %}
	<!-- end our_partners -->
{% endblock %}