{% extends 'movie_catalog/base.html' %}
{% load static movie_filters %}

{% block title %}
	{% if page == 'movie_list' %}
		{% if title %}{{title}}{% else %}Все категории{% endif %} | {{block.super}}
	{% elif page == 'movie_grid' %}
		{% if search %}
			Результаты поиска "{{title|truncatechars:30}}" | {{block.super}}
		{% elif by_rating %}
			{% if title != 5 %}Фильмы с рейтингом от {{title}} до {{title|add:1}} | {{block.super}}
			{% else %}Фильмы с рейтингом {{title}} | {{block.super}}
			{% endif %}
		{% elif by_year %}
			 Фильмы за {{title}} год | {{block.super}}
		{% else %}
			{{title}} | {{block.super}}
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<!-- page title -->
	{% include 'movie_catalog/includes/page_title.html' %}
	<!-- end page title -->

	<!-- filter -->
	{% include 'movie_catalog/includes/filter.html' %}
	<!-- end filter -->

	<!-- catalog -->
	{% if page == 'movie_list' %}
		{% include 'movie_catalog/includes/movies_as_list.html' %}
	{% elif page == 'movie_grid' %}
		{% include 'movie_catalog/includes/movies_as_grid.html' %}
	{% endif %}
	<!-- end catalog -->

	<!-- paginator -->
	{% if page_obj.has_other_pages %}
		{% include 'movie_catalog/includes/paginator.html' %}
	{% endif %}
	<!-- end paginator -->
{% endblock %}
