{% extends 'movie_catalog/base.html' %}
{% load static movie_filters %}

{% block content %}
	<!-- page title -->
	<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">{{category}}</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item">
								<a href="{% url 'index' %}">Главная</a>
							</li>
							<li class="breadcrumb__item breadcrumb__item--active">{{category}}</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- filter -->
	{% include 'movie_catalog/includes/filter.html' %}
	<!-- end filter -->

	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">

				{% for movie in movie_list %}
					<!-- card -->
					<div class="col-6 col-sm-12 col-lg-6">
						<div class="card card--list">
							<div class="row">
								<div class="col-12 col-sm-4">
									<div class="card__cover" style="cursor:pointer;">
										<img src="{{movie.poster.url}}" alt="">
										<a href="#" class="">
											<i class="icon"></i>
										</a>
									</div>
								</div>

								<div class="col-12 col-sm-8">
									<div class="card__content">
										<h3 class="card__title"><a href="#">{{movie}}</a></h3>
										<span class="card__category">
											{% for genre in movie.genre.all %}
												<a href="#">{{genre}}</a>
											{% endfor %}
										</span>

										<div class="card__wrap">
											<span class="card__rate">
												<i class="icon ion-ios-star"></i>{{movie.avg_rating|round_number:1}}
											</span>
											{% if movie.age_limit != '0' %}
												<ul class="card__list">
													<li>{{movie.age_limit}}+</li>
												</ul>
											{% endif %}
										</div>

										<div class="card__description">
											<p>{{movie.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end card -->
				{% endfor %}

				<!-- paginator -->
				{% include 'movie_catalog/includes/paginator.html' %}
				<!-- end paginator -->

			</div>
		</div>
	</div>
	<!-- end catalog -->
{% endblock %}
