{% load static movie_filters %}

<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Комментарии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Рецензии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Кадры</a>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->

                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Комментарии">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Комментарии</a></li>
                                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Рецензии</a></li>
                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Кадры</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <!-- content tabs -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                        <div class="row">
                            <!-- comments -->
                            <div class="col-12">
                                <div class="comments" id="comments_section">
                                    <ul class="comments__list">

                                        {% if none_parent_comments %}
                                            {% for comment in none_parent_comments %}
                                                <li class="comments__item">
                                                    <div class="comments__autor">
                                                        {% if not comment.user.profile.avatar %}
                                                            <img class="comments__avatar" src="{% static 'img/none_avatar.jpg' %}" alt="">
                                                        {% else %}
                                                            <img class="comments__avatar" src="{{comment.user.profile.avatar.url}}" alt="">
                                                        {% endif %}
                                                        <span class="comments__name">
                                                            {% if not comment.user %}Гость
                                                            {% elif comment.user.is_staff %}<b><i>{{comment.user}}</i></b>
                                                            {% else %}{{comment.user}}
                                                            {% endif %}
                                                        </span>
                                                        <span class="comments__time">{{comment.posted_at}}</span>
                                                    </div>
                                                    <div class="{% if comment.user == user %}user__review{% endif %}">
                                                        <p class="reviews__text">
                                                            {% if comment.text|split_text|length <= 100 %}
                                                                {{comment.text}}
                                                            {% else %}
                                                                {{comment.text|text_slice:'0,100'}}<span id="comment-dots{{comment.id}}"></span>
                                                                <span id="comment-more{{comment.id}}" class="more">{{comment.text|text_slice:'100,full'}}</span>
                                                                <span onclick="showMoreLess('comment', {{comment.id}})" class="myBtn" id="comment-myBtn{{comment.id}}">
                                                                    ...
                                                                </span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <div class="comments__actions">
    <!--                                                    <div class="comments__rate">-->
    <!--                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>-->
    <!--                                                        <button type="button">7<i class="icon ion-md-thumbs-down"></i></button>-->
    <!--                                                    </div>-->
                                                        <a href="#formComment" onclick="addComment('{% if comment.user %}{{comment.user.username}}{% else %}Гость{% endif %}', '{{comment.id}}')">
                                                            <button type="button"><i class="icon ion-ios-share-alt"></i>Ответить</button>
                                                        </a>
                                                    </div>
                                                </li>

                                                {% if comment.replies.all %}
                                                    {% for reply in comment.replies.all %}
                                                        <li class="comments__item comments__item--answer">
                                                            <div class="comments__autor">
                                                                {% if not reply.user.profile.avatar %}
                                                                    <img class="comments__avatar" src="{% static 'img/none_avatar.jpg' %}" alt="">
                                                                {% else %}
                                                                    <img class="comments__avatar" src="{{reply.user.profile.avatar.url}}" alt="">
                                                                {% endif %}
                                                                <span class="comments__name">
                                                                    {% if not reply.user %}Гость
                                                                    {% elif reply.user.username == 'admin' %}<b><i>{{reply.user}}</i></b>
                                                                    {% else %}{{reply.user}}
                                                                    {% endif %}
                                                                </span>
                                                                <span class="comments__time">{{reply.posted_at}}</span>
                                                            </div>
                                                            <div class="{% if reply.user == user %}user__review{% endif %}">
                                                                <p class="reviews__text">
                                                                    {% if reply.text|split_text|length <= 100 %}
                                                                        {{reply.text}}
                                                                    {% else %}
                                                                        {{reply.text|text_slice:'0,100'}}<span id="reply-dots{{reply.id}}"></span>
                                                                        <span id="reply-more{{reply.id}}" class="more">{{reply.text|text_slice:'100,full'}}</span>
                                                                        <span onclick="showMoreLess('reply', {{reply.id}})" class="myBtn" id="reply-myBtn{{reply.id}}">
                                                                        ...
                                                                        </span>
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                            <div class="comments__actions">
    <!--                                                            <div class="comments__rate">-->
    <!--                                                                <button type="button"><i class="icon ion-md-thumbs-up"></i>8</button>-->
    <!--                                                                <button type="button"><i class="icon ion-md-thumbs-down"></i>3</button>-->
    <!--                                                            </div>-->
                                                                <a href="#formComment" onclick="addComment('{% if comment.user %}{{comment.user.username}}{% else %}Гость{% endif %}', '{{reply.id}}')">
                                                                    <button type="button"><i class="icon ion-ios-share-alt"></i>Ответить</button>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}

                                        {% else %}
                                            <div>
                                                <h3 style="color:white;">Здесь пока нет ни одного комментария...</h3>
                                            </div>
                                            <br>
                                        {% endif %}
                                    </ul>

                                    <form action="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}" method="post" class="form" id="formComment">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent" id="parent">
                                        {% if comment_form.text.errors %}
                                            <span class="sign__text" style="color:#ff55a5;">
                                                <b>{{comment_form.text.errors}}</b>
                                            </span>
                                        {% endif %}
                                        <br>
                                        <textarea id="text" name="text" class="form__textarea" placeholder="Ваш комментарий"></textarea>
                                        <button type="submit" class="form__btn">Добавить</button>
                                    </form>
                                </div>
                            </div>
                            <!-- end comments -->

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">

                            <!-- reviews -->
                            <div class="col-12">
                                <div class="reviews">
                                    <ul class="reviews__list">

                                        {% if reviews %}
                                            {% for review in reviews %}
                                                <li class="reviews__item" id="{% if review.user == user %}userReview{% endif %}">
                                                    <div class="reviews__autor">
                                                        <img class="reviews__avatar" src="{{review.user.profile.avatar.url}}" alt="">
                                                        <span class="reviews__name">{{review.title}}</span>
                                                        <span class="reviews__time">
                                                            {{review.posted_at}} |
                                                            <b style="color:white;">Пользователь: {{review.user}}</b>
                                                        </span>
                                                        <span class="reviews__rating">
                                                            <i class="icon ion-ios-star">{{review.star.number|round_number:1}}</i>
                                                        </span>
                                                    </div>
                                                    <div class="{% if review.user == user %}user__review{% endif %}">
                                                        <p class="reviews__text">
                                                            {{review.text|text_slice:'0,100'}}<span id="review-dots{{review.id}}"></span>
                                                            <span id="review-more{{review.id}}" class="more">{{review.text|text_slice:'100,full'}}</span>
                                                            <span onclick="showMoreLess('review', {{review.id}})" class="myBtn" id="review-myBtn{{review.id}}">
                                                                ...
                                                            </span>
                                                        </p>
                                                    </div>

                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <div>
                                                <h3 style="color:white;">Здесь пока нет ни одной рецензии...</h3>
                                            </div>
                                            <br>
                                        {% endif %}
                                    </ul>

                                    {% if user.is_authenticated and not user_reviewed %}
                                        <form action="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}" method="post" class="form" id="formReview">
                                            {% csrf_token %}
                                            {% if review_form.title.errors %}
                                                <span class="sign__text" style="color:#ff55a5;"><b>{{review_form.title.errors}}</b><br>
                                            {% endif %}
                                            <input name="title" type="text" class="form__input" placeholder="Заголовок">
                                             {% if review_form.text.errors %}
                                                <span class="sign__text" style="color:#ff55a5;"><b>{{review_form.text.errors}}</b><br>
                                            {% endif %}
                                            <textarea name="text" class="form__textarea" placeholder="Текст"></textarea>
                                            <div class="form__slider">
                                                <div class="form__slider-rating" id="slider__rating"></div>
                                                <div class="form__slider-value" id="form__slider-value"></div>
                                                <input type="hidden" name="star" id="star">
                                            </div>
                                            <button type="submit" class="form__btn">Добавить</button>
                                        </form>
                                    {% elif user_reviewed %}
                                        <div>
                                            <h3 style="color:white;">
                                                Вы уже написали <a href="#userReview" style="color: #ff55a5;">рецензию</a> на этот фильм
                                            </h3>
                                        </div>
                                    {% else %}
                                        <div>
                                            <h3 style="color:white;">
                                                <a href="{% url 'signin' %}" target="_blank" style="color: #ff55a5;">Авторизируйтесь</a>,
                                                чтобы написать рецензию
                                            </h3>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end reviews -->

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                        <!-- project gallery -->
                        <div class="gallery" itemscope>
                            <div class="row">
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-1.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-1.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 1</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-2.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-2.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 2</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-3.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-3.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 3</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-4.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-4.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 4</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-5.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-5.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 5</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-6.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-6.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 6</figcaption>
                                </figure>
                                <!-- end gallery item -->
                            </div>
                        </div>
                        <!-- end project gallery -->
                    </div>
                </div>
                <!-- end content tabs -->
            </div>

            <!-- similar_movies -->
            {% include 'movie_catalog/includes/similar_movies.html' %}
            <!-- end similar_movies -->
        </div>
    </div>
</section>

