{% load static %}

<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Комментарии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Рецензии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Кадры</a>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->

                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Comments">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

                                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <!-- content tabs -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                        <div class="row">

                            <!-- comments -->
                            <div class="col-12">
                                <div class="comments" id="comments_section">
                                    <ul class="comments__list">

                                        {% for comment in none_parent_comments %}
                                            <li class="comments__item">
                                                <div class="comments__autor">
                                                    {% if not comment.user.profile.avatar %}
                                                        <img class="comments__avatar" src="{% static 'img/none_avatar.jpg' %}" alt="">
                                                    {% else %}
                                                        <img class="comments__avatar" src="{{comment.user.profile.avatar.url}}" alt="">
                                                    {% endif %}
                                                    <span class="comments__name">
                                                        {% if comment.user.username == 'admin' %}<b><i>{{comment.user}}</i></b>
                                                        {% else %}{{comment.user}}
                                                        {% endif %}
                                                    </span>
                                                    <span class="comments__time">{{comment.posted_at}}</span>
                                                </div>
                                                <p class="comments__text">{{comment.text}}</p>
                                                <div class="comments__actions">
<!--                                                    <div class="comments__rate">-->
<!--                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>-->
<!--                                                        <button type="button">7<i class="icon ion-md-thumbs-down"></i></button>-->
<!--                                                    </div>-->
                                                    <a href="#formComment" onclick="addComment('{{comment.user.username}}', '{{comment.id}}')">
                                                        <button type="button"><i class="icon ion-ios-share-alt"></i>Ответить</button>
                                                    </a>
                                                </div>
                                            </li>

                                            {% if comment.replies.all %}
                                                {% for reply in comment.replies.all %}
                                                    <li class="comments__item comments__item--answer">
                                                        <div class="comments__autor">
                                                            {% if not reply.user.profile.avatar %}
                                                                <img class="comments__avatar" src="{% static 'img/none_avatar.jpg' %}" alt="">
                                                            {% else %}
                                                                <img class="comments__avatar" src="{{reply.user.profile.avatar.url}}" alt="">
                                                            {% endif %}
                                                            <span class="comments__name">
                                                                {% if reply.user.username == 'admin' %}<b><i>{{reply.user}}</i></b>
                                                                {% else %}{{reply.user}}
                                                                {% endif %}
                                                            </span>
                                                            <span class="comments__time">{{reply.posted_at}}</span>
                                                        </div>
                                                        <p class="comments__text">{{reply.text}}</p>
                                                        <div class="comments__actions">
<!--                                                            <div class="comments__rate">-->
<!--                                                                <button type="button"><i class="icon ion-md-thumbs-up"></i>8</button>-->
<!--                                                                <button type="button"><i class="icon ion-md-thumbs-down"></i>3</button>-->
<!--                                                            </div>-->
                                                            <a href="#formComment" onclick="addComment('{{reply.user.username}}', '{{reply.id}}')">
                                                                <button type="button"><i class="icon ion-ios-share-alt"></i>Ответить</button>
                                                            </a>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}

                                        {% endfor %}
                                    </ul>

                                    {% if user.is_authenticated %}
                                        <form action="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}" method="post" class="form" id="formComment">
                                            {% csrf_token %}
                                            <input type="hidden" name="parent" id="parent">
                                            <textarea id="text" name="text" class="form__textarea" placeholder="Ваш комментарий"></textarea>
                                            <button type="submit" class="form__btn">Добавить</button>
                                        </form>
                                    {% else %}
                                        <div>
                                            <h4 style="color:white;">
                                                <a href="{% url 'signin' %}" style="color: #ff55a5;" target="_blank">
                                                    Авторизируйтесь
                                                </a>
                                                , чтобы оставлять комментарии
                                            </h4>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end comments -->

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">

                            <!-- reviews -->
                            <div class="col-12">
                                <div class="reviews">
                                    <ul class="reviews__list">
                                        <li class="reviews__item">
                                            <div class="reviews__autor">
                                                <img class="reviews__avatar" src="img/user.png" alt="">
                                                <span class="reviews__name">Best Marvel movie in my opinion</span>
                                                <span class="reviews__time">24.08.2018, 17:53 by John Doe</span>

                                                <span class="reviews__rating"><i class="icon ion-ios-star"></i>8.4</span>
                                            </div>
                                            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        </li>

                                        <li class="reviews__item">
                                            <div class="reviews__autor">
                                                <img class="reviews__avatar" src="img/user.png" alt="">
                                                <span class="reviews__name">Best Marvel movie in my opinion</span>
                                                <span class="reviews__time">24.08.2018, 17:53 by John Doe</span>

                                                <span class="reviews__rating"><i class="icon ion-ios-star"></i>9.0</span>
                                            </div>
                                            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        </li>

                                        <li class="reviews__item">
                                            <div class="reviews__autor">
                                                <img class="reviews__avatar" src="img/user.png" alt="">
                                                <span class="reviews__name">Best Marvel movie in my opinion</span>
                                                <span class="reviews__time">24.08.2018, 17:53 by John Doe</span>

                                                <span class="reviews__rating"><i class="icon ion-ios-star"></i>7.5</span>
                                            </div>
                                            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        </li>
                                    </ul>

                                    <form action="#" class="form">
                                        <input type="text" class="form__input" placeholder="Title">
                                        <textarea class="form__textarea" placeholder="Review"></textarea>
                                        <div class="form__slider">
                                            <div class="form__slider-rating" id="slider__rating"></div>
                                            <div class="form__slider-value" id="form__slider-value"></div>
                                        </div>
                                        <button type="button" class="form__btn">Send</button>
                                    </form>
                                </div>
                            </div>
                            <!-- end reviews -->

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                        <!-- project gallery -->
                        <div class="gallery" itemscope>
                            <div class="row">
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-1.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-1.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 1</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-2.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-2.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 2</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-3.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-3.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 3</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-4.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-4.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 4</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-5.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-5.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 5</figcaption>
                                </figure>
                                <!-- end gallery item -->

                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-6.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-6.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 6</figcaption>
                                </figure>
                                <!-- end gallery item -->
                            </div>
                        </div>
                        <!-- end project gallery -->
                    </div>
                </div>
                <!-- end content tabs -->
            </div>

            <!-- similar_movies -->
            {% include 'movie_catalog/includes/similar_movies.html' %}
            <!-- end similar_movies -->
        </div>
    </div>
</section>