{% load static movie_filters %}

{{edited_comment|json_script:"edited_comment"}}

<div class="col-12">
    <div class="comments" id="comments_section">
        <ul class="comments__list">

            <!-- none parent comments -->
            {% if none_parent_comments.object_list %}
                {% for comment in none_parent_comments.object_list %}
                    <span id="com{{comment.id}}">
                        <li class="comments__item" >
                            <div class="comments__autor">
                                {% if not comment.user.profile.avatar %}
                                    <img class="comments__avatar" src="{% static 'img/none_avatar.jpg' %}" alt="">
                                {% else %}
                                    <img class="comments__avatar" src="{{comment.user.profile.avatar.url}}" alt="">
                                {% endif %}
                                <span class="comments__name">
                                    {% if not comment.user %}Гость
                                    {% elif comment.user.is_staff %}<b style="color:#ff55a5;">{{comment.user}}</b>
                                    {% else %}{{comment.user}}
                                    {% endif %}
                                </span>
                                <span class="comments__time">{{comment.posted_at}}</span>
                            </div>
                            <div class="{% if comment.user == user %}user__review{% endif %}" id="comSection-{{comment.id}}" style="display:block;">
                                <p class="reviews__text" id="comText-{{comment.id}}" style="display:{% if edit and edited_comment == comment.id %}none{% else %}block;{% endif %}">
                                        {% if comment.text|split_text|length <= 100 %}
                                            {{comment.text}}
                                        {% else %}
                                            {{comment.text|text_slice:'0,100'}}<span id="comment-dots{{comment.id}}"></span>
                                            <span id="comment-more{{comment.id}}" class="more">{{comment.text|text_slice:'100,full'}}</span>
                                            <span onclick="showMoreLess('comment', {{comment.id}})" class="myBtn" id="comment-myBtn{{comment.id}}">
                                                ...
                                            </span>
                                        {% endif %}
                                    </p>

                                    <form action="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}" method="post" class="edit-form" id="comEdit-{{comment.id}}" style="display:{% if edit and edited_comment == comment.id %}block{% else %}none;{% endif %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent" id="parent">
                                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                                        <input type="hidden" name="page" value="{{none_parent_comments.number}}">
                                        {% if comment_update_form.text.errors and edited_comment == comment.id %}
                                            <span class="" style="color:#ff55a5;"><b>{{comment_update_form.text.errors}}</b></span>
                                        {% endif %}
                                        <br>
                                        <textarea name="text" class="form__textarea edit-form__text" placeholder="Ваш комментарий">{% if comment_update_form.data.text and edited_comment == comment.id %}{{comment_update_form.data.text}}{% else %}{{comment.text}}{% endif %}</textarea>
                                    </form>
                            </div>

                             <form action="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}" method="post" class="edit-form" id="comDel-{{comment.id}}" style="display:none;">
                                 {% csrf_token %}
                                 <input type="hidden" name="del">
                                 <input type="hidden" name="com" value="{{comment.id}}">
                                 <input type="hidden" name="page" value="{{none_parent_comments.number}}">
                                 <p class="reviews__text">
                                     Вы уверены, что хотите удалить комментарий?<br>
                                     <span style="background:#2b2b31;">
                                         <button type="button" class="btn-cnl__del" onclick="deleteObject('com', {{comment.id}})">ОТМЕНА</button> |
                                         <button type="submit" class="btn-del">УДАЛИТЬ</button>
                                     </span>
                                 </p>
                             </form>

                            <div class="comments__actions" id="comActions-{{comment.id}}">
                                <div class="comments__rate">
                                    <button style="cursor:default;">#{{comment.index_number}}|{{comment.id}}</button>
                                        <!--                                                            <button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>-->
                                        <!--                                                            <button type="button">7<i class="icon ion-md-thumbs-down"></i></button>-->
                                </div>
                                {% for msg in messages %}
                                    {% if comment.id == msg.extra_tags|add:0 %}
                                        <span class="toast">{{msg}}</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                {% endfor %}

                                <!-- edit comment -->
                                <button type="button" id="comBtnDel-{{comment.id}}" onclick="deleteObject('com', {{comment.id}})" style="display:{% if edit and edited_comment == comment.id %}none{% else %}block;{% endif %}">
                                    Удалить
                                </button>
                                <button type="button" id="comBtnCnl-{{comment.id}}" onclick="editObject('com', {{comment.id}})">
                                    {% if edit and edited_comment == comment.id %}Отменить{% else %}Изменить{% endif %}
                                </button>
                                <button type="submit" id="comBtnSave-{{comment.id}}" form="comEdit-{{comment.id}}" style="display:{% if edit and edited_comment == comment.id %}block{% else %}none;{% endif %}">
                                     Сохранить
                                </button>
                                <!-- end edit comment -->

                                {% if comment.replies.count %}
                                    <button type="button" onclick="toggle_visibility({{comment.id}})">
                                        Ответы({{comment.replies.count}})
                                    </button>
                                {% endif %}
                                    <a href="#formComment" onclick="addReply('{{comment.index_number}}', '{{comment.id}}')">
                                        <button type="button"><i class="icon ion-ios-share-alt"></i>Ответить</button>
                                    </a>
                            </div>
                        </li>
                    </span>

                    <!-- replies -->
                    {% if comment.replies.all %}
                        <span id="{{comment.id}}" style="display:none">
                            {% for reply in comment.replies.all %}
                                <li class="comments__item comments__item--answer">
                                    <div class="comments__autor">
                                        {% if not reply.user.profile.avatar %}
                                            <img class="comments__avatar" src="{% static 'img/none_avatar.jpg' %}" alt="">
                                        {% else %}
                                            <img class="comments__avatar" src="{{reply.user.profile.avatar.url}}" alt="">
                                        {% endif %}
                                        <span class="comments__name">
                                            {% if not reply.user %}Гость
                                            {% elif reply.user.username == 'admin' %}<b><i>{{reply.user}}</i></b>
                                            {% else %}{{reply.user}}
                                            {% endif %}
                                        </span>
                                        <span class="comments__time">{{reply.posted_at}}</span>
                                    </div>
                                    <div class="{% if reply.user == user %}user__review{% endif %}">
                                        <p class="reviews__text">
                                            {% if reply.text|split_text|length <= 100 %}
                                                {{reply.text}}
                                            {% else %}
                                                {{reply.text|text_slice:'0,100'}}<span id="reply-dots{{reply.id}}"></span>
                                                <span id="reply-more{{reply.id}}" class="more">{{reply.text|text_slice:'100,full'}}</span>
                                                <span onclick="showMoreLess('reply', {{reply.id}})" class="myBtn" id="reply-myBtn{{reply.id}}">
                                                    ...
                                                </span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="comments__actions">
                                        <div class="comments__rate">
                                            <button style="cursor:default;">#{{comment.index_number}}.{{forloop.counter}}</button>
                                                <!--                                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>8</button>-->
                                                <!--                                                                        <button type="button"><i class="icon ion-md-thumbs-down"></i>3</button>-->
                                        </div>
                                        <a href="#formComment" onclick="addReply('{{comment.index_number}}.{{forloop.counter}}', '{{reply.id}}')">
                                            <button type="button"><i class="icon ion-ios-share-alt"></i>Ответить</button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </span>
                    {% endif %}
                    <!-- end replies -->

                {% endfor %}
                {% include 'movie_catalog/includes/comments_pagination.html' %}
            {% else %}
                <div>
                    <h3 style="color:white;">Здесь пока нет ни одного комментария...</h3>
                </div>
                <br>
            {% endif %}
            <!-- end none parent comments -->

            <!-- comment form -->
            {% include 'movie_catalog/includes/forms/comment_form.html' %}
            <!-- end comment form -->

        </ul>
    </div>
</div>