{% load static %}

<section class="section section--bg" data-bg="{% static 'movie_catalog/img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title">Ожидаются</h2>
            </div>
            <!-- end section title -->

            {% for movie in expected_movies %}
                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover__expected">
                            <img src="{{movie.poster.url}}" alt="">
<!--                            <a href="#" class="">-->
<!--                                <i class="icon"></i>-->
<!--                            </a>-->
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">{{movie.title}}</h3>
                            <span class="card__category">
                                {% for genre in movie.genre.all %}
                                    <a href="{% url 'filter' model='genre' instance=genre.slug %}">
                                        {{genre}}
                                    </a>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            {% endfor %}

        </div>
    </div>
</section>