{% load static movie_filters %}

<section class="section section--first section--bg" data-bg="{% static 'movie_catalog/img/section/section.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">

          <!-- section title -->
          <h2 class="section__title">
            {% if not title and page == 'movie_list' %} Все категории
            {% elif not title and page == 'about' %} Про нас
            {% elif page == 'movie_grid' %}
              {% if search %}
			    Результаты поиска "{{title|truncatechars:30}}"
              {% elif by_rating %}
			    {% if title != 5 %}Фильмы с рейтингом от {{title}} до {{title|add:1}}
			    {% else %}Фильмы с рейтингом {{title}}
			    {% endif %}
              {% elif by_year %}
                Фильмы за {{title}} год
		      {% else %}
			    {{title}}
		      {% endif %}
            {% else %} {{title}}
            {% endif %}
          </h2>
          <!-- end section title -->

        </div>
      </div>
    </div>
  </div>
</section>