<form action="{% url 'search' %}" class="header__search" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__search-content">
                    <input type="text" name="search" placeholder="Введите название фильма или слова, которые могут быть в описании к фильму">
                    <button type="submit">поиск</button>
                </div>
            </div>
        </div>
    </div>
</form>