{% load movie_filters %}

<section class="home home--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>Топ фильмов</b> за год</h1>
                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>

            <div class="col-12">
                <div class="owl-carousel home__carousel">

                    {% for movie in top_movies_for_year %}
                        <div class="item">
                            <!-- card -->
                            <div class="card card--big">
                                <a href="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}">
                                    <div class="card__cover" style="cursor: pointer;">
                                        <img src="{{movie.poster.url}}" alt="">
                                        <i class="icon"></i>
                                    </div>
                                </a>
                                <div class="card__content">
                                    <h3 class="card__title">
                                        <a href="{% url 'movie_detail' category=movie.category.slug movie_slug=movie.slug %}">
                                            {{movie}}
                                        </a>
                                    </h3>
                                    <span class="card__category">
                                        {% for genre in movie.genre.all %}
                                            <a href="{% url 'filter' model='genre' instance=genre.slug %}">
                                                {{genre}}
                                            </a>
                                        {% endfor %}
                                    </span>
                                    {% if movie.avg_rating %}
                                        <a href="{% url 'filter' model='rating' instance=movie.avg_rating|round_number:1 %}">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-star"></i>{{movie.avg_rating|round_number:1}}
                                            </span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>