{% extends 'additional_page_base.html' %}
{% load static %}

{% block content %}
	<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">

						<!-- registration form -->
						<form action="" class="sign__form" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<h2 class="section__title section__title--no-margin">Регистрация</h2>

							{% if form.username.errors %}
								<span class="sign__text" style="color:#ff55a5; word-wrap: break-word; max-width: 275px;">
									{{form.username.errors}}
								</span>
							{% endif %}
							<div class="sign__group">
								<input name="username" value="{{form.data.username}}" type="text" class="sign__input" placeholder="Логин">
							</div>

							{% if form.email.errors %}
								<span class="sign__text" style="color:#ff55a5; word-wrap: break-word; max-width: 275px;">
									{{form.email.errors}}
								</span>
							{% endif %}
							<div class="sign__group">
								<input name="email" value="{{form.data.email}}" type="text" class="sign__input" placeholder="Email">
							</div>

							{% if form.password.errors %}
								<span class="sign__text" style="color:#ff55a5; word-wrap: break-word; max-width: 275px;">
									{{form.password.errors}}
								</span>
							{% endif %}
							<div class="sign__group">
								<input name="password" value="{{form.data.password}}" type="password" class="sign__input" placeholder="Пароль">
							</div>


							<button class="sign__btn" type="submit">Зарегистрироваться</button>

							<span class="sign__text">
								Уже есть аккаунт? <a href="{% url 'signin' %}">Войдите!</a>
							</span>
							<p></p>
							<a href="{% url 'index' %}" style="color:gray; text-decoration: underline; font-size:11pt;">
                                На главную
                            </a>
						</form>
						<!-- registration form -->

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}